<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WasteWater Management</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div>
      <h1 class="Header">Waste Water Management</h1>
    </div>
    <br><br>
    <div class="Description">
      <h3 class="DescriptionCard">Industry Name: Fun Water Parks</h3>
      <br>
      <h3 class="DescriptionCard">Industry ID: IN6S248F</h3>
      <br>
      <h3 class="DescriptionCard">Daily Allowance: 600 Liters</h3>
    </div>
    <br>
    <br>
    <table class="TableC">
      <thead>
        <td class="TableHead">Water Quality</td>
        <td class="TableHead">Water Flow Rate</td>
        <td class="TableHead">Credits Earned</td>
        <td class="TableHead">TimeStamp</td>
      </thead>
      <tr>
        <td class="TableData R1C1">No Data</td>
        <td class="TableData R1C2">No Data</td>
        <td class="TableData R1C3">No Data</td>
        <td class="TableData R1C4">No Data</td>
      </tr>
      <tr>
        <td class="TableData R2C1">No Data</td>
        <td class="TableData R2C2">No Data</td>
        <td class="TableData R2C3">No Data</td>
        <td class="TableData R2C4">No Data</td>
      </tr>
      <tr>
        <td class="TableData R3C1">No Data</td>
        <td class="TableData R3C2">No Data</td>
        <td class="TableData R3C3">No Data</td>
        <td class="TableData R3C4">No Data</td>
      </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Fetch">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.js">

    </script>
  </body>
</html>
